<!--
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <base href="/newmenu/">
    <title></title>
</head>
<body>
{{!> ../../template/newmenu/menu}}
<section class="newmenu-left-list">
    <div>
        <ul>
            <li></li>
        </ul>
    </div>
</section>
<div class="newmenu-contents">{{!오른쪽 컨텐츠, HOME 전체 내용 추가하기}}
    <div class="newmenu-part">
        Home > Menu > New Menu
    </div>
    <div class="newmenu-head-title">
        NEW MENU
    </div>
</div>
<section class="hc-section-info">
    <div class="hc-section-contents">
        <div class="hc-tab">
            <ul class="hc-tab-btns">
                <li class="foods">2017</li>
                <li>2016</li>
                <li>2015</li>
                <li>2014</li>
                <li>2013</li>
                <li>2012</li>
                <li>2011</li>
                <li>2010~2009</li>
                <li>2008~</li>
            </ul>
            <ul class="hc-tab-contents">
                <li class="hc-season-2017">
                    <ul class="hc-season-menu">
                        <img src='./img/menuNew_2017-01.jpg'>
                        <li class="menu-season-beverage">청포도파인 선라이즈크러쉬(2017년 06월)</li>
                        <img src='./img/menuNew_2017-02.jpg'>
                        <li class="menu-season-beverage">Hello, summer signature(2017년 04월)</li>
                        <img src='./img/menuNew_2017-03.jpg'>
                        <li class="menu-season-beverage">Daily Smoothie(2017년 03월)</li>
                        <img src='./img/menuNew_2017-04.jpg'>
                        <li class="menu-season-beverage">Daily Juice(2017년 03월)</li>
                        <img src='./img/menuNew_2017-05.jpg'>
                        <li class="menu-season-beverage">티라미스 크림라떼(2017년 03월)</li>
                        <img src='./img/menuNew_2017-06.jpg'>
                        <li class="menu-season-beverage">핫샌드위치(2017년 03월)</li>
                        <img src='./img/menuNew_2017-07.jpg'>
                        <li class="menu-season-beverage">딸기레몬티(2017년 01월)</li>
                        <img src='./img/menuNew_2017-08.jpg'>
                        <li class="menu-season-beverage">딸기크림초코라떼(2017년 01월)</li>
                        <img src='./img/menuNew_2017-09.jpg'>
                        <li class="menu-season-beverage">리얼 딸기 크림 아발랑쉬(2017년 01월)</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>


</body>
</html>
-->
