<div class="menu-left-contents">
    <div class="menu-left">
        <ul class="menu-list">
            <li class="menu-left-list menu-left-red">New menu</li>
            <li class="menu-left-list">COFFEE</li>
            <li class="menu-left-list">라떼 · 초콜릿 · 티</li>
            <li class="menu-left-list">할리치노 · 빙수</li>
            <li class="menu-left-list">스파클링 · 아이스티</li>
            <li class="menu-left-list">베이커리</li>
            <li class="menu-left-list">MD 상품 · 원두커피</li>
        </ul>
    <div class="menu-left-banner">
        <ul class="menu-left-banner1">
            <li>2017 할리스 커피페스티벌</li>
            <li>멤버십 회원만을 위한 페스티벌 티켓 예매</li>
            <img src='./img/bg_banner01.jpg'>
        </ul>
        <ul class="menu-left-banner2">
            <li>Membership</li>
            <li>사용금액의 5%적립과 무료로 음료 사이즈업 받으세요!</li>
            <img src='./img/bg_banner02.jpg'>
        </ul>
    </div>
    </div>
</div>
