<footer>
    <div calss="footer-info">
    한스아뜰리에 대표: 유봉기 사업자 등록번호: 204-06-47332 주소: 서울시 동대문구 천호대로4길 19-19 (신설동104-41) 보성빌딩 302호
    연락처: 010-9984-8777 E-Mail: sinjo121@naver.com<br>
    Copyright ⓒ 2015 HANS ATELIER All Rights Reserved..
    </div>
</footer>
