<li>
    <li class="header-menu-text">
        {{name}}
    </li>
    <ul class="header-sub-menu2">
        {{#each subMenus ~}}
            <li newmenu-id="{{id}}">{{name}}</li>
        {{~/each}}
    </ul>
</li>