<header>
    <div class="header-sub">
        <ul class="header-mian-menu">
            <li class="header-quickBanner">
                <img src="./img/main-menu_smenu01.gif">
                <img src="./img/main-menu_smenu02.gif">
            </li>
            <li class="header-util">
                <img src="./img/util_01.gif">
                <img src="./img/util_02.gif">
                <img src="./img/util_03.gif">
                <img src="./img/util_04.gif">
                <img src="./img/util_05.gif">
            </li>
            <h1 class="header-logo">
                <a href="http://www.hollys.co.kr"><img src="./img/logo.gif"></a>
            </h1>
            <div class="header-menu">
                <ul class="header-main-menu">
                    <li class="main-menu-content">Menu</li>
                    <!--<span style="opacity: 0;">메뉴</span>-->
                    </li>
                    <li class="main-menu-content">HOLLYS Mall</li>
                    <!--<span style="opacity: 0;">할리스 몰</span>-->
                    </li>
                    <li class="main-menu-content">Membership</li>
                    <!--<span style="opacity: 0;">멤버십</span>-->
                    </li>
                    <li class="main-menu-content">HOLLYS News</li>
                    <!--<span style="opacity: 0;">이벤트 및 공지</span>-->
                    </li>
                    <li class="main-menu-content">Store</li>
                    <!--<span style="opacity: 0;">매장</span>-->
                    </li>
                    <li class="main-menu-content">HOLLYS is</li>
                    <!--<span style="opacity: 0;">할리스 소개</span>-->
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li></li>
                </ul>
            </div>
        </ul>
    </div>
</header>