<header>
    <div class="header-sub">
        <ul class="header-mian-menu">
            <li class="header-quickBanner">
                <img src="./img/main-menu_smenu01.gif">
                <img src="./img/main-menu_smenu02.gif">
            </li>
            <li class="header-util">
                <img src="./img/util_01.gif">
                <img src="./img/util_02.gif">
                <img src="./img/util_03.gif">
                <img src="./img/util_04.gif">
                <img src="./img/util_05.gif">
            </li>
            <h1 class="header-logo">
                <a href="http://www.hollys.co.kr"><img src="./img/logo.gif"></a>
            </h1>
            <div class="header-menu">
                <ul class="header-main-menu">
                    <li class="header-menu-text">
                        Menu
                        <div class="header-menu-text2">
                            메뉴
                            <ul class="header-sub-menu">
                                <li>New menu</li>
                                <li>COFFEE</li>
                                <li>라떼 · 초콜릿 · 티</li>
                                <li>할리치노 · 빙수</li>
                                <li>스파클링 · 아이스트</li>
                                <li>베이커리</li>
                                <li>MD 상품 · 원두커피</li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-menu-text">
                        HOLLYS Mall
                        <div class="header-menu-text2">
                            할리스 몰
                        </div>
                        <ul class="header-sub-menu">
                            <li>할리스콘</li>
                            <li>할리스 기프트카드</li>
                        </ul>
                    </li>
                    <li class="header-menu-text">
                        Membership
                        <div class="header-menu-text2">
                            멤버십
                        </div>
                        <ul class="header-sub-menu">
                            <li>멤버십 혜택안내</li>
                            <li>멤버십 등록 및 발급</li>
                        </ul>
                    </li>
                    <li class="header-menu-text">
                        HOLLYS News
                        <div class="header-menu-text2">
                            이벤트 및 공지
                        </div>
                        <ul class="header-sub-menu">
                            <li>Notice</li>
                            <li>Event</li>
                        </ul>
                    </li>
                    <li class="header-menu-text">
                        Store
                        <div class="header-menu-text2">
                            매장
                        </div>
                        <ul class="header-sub-menu">
                            <li>HOLLYS Coffee</li>
                            <li>About Coffee</li>
                            <li>CSR</li>
                            <li>Gallery</li>
                            <li>혜택 안내</li>
                            <li>본사 위치</li>
                            <li>채용 안내</li>
                            <li>가맹 문의</li>
                        </ul>
                    </li>
                    <li class="header-menu-text">
                        HOLLYS is
                        <div class="header-menu-text2">
                            할리스 소개
                        </div>
                        <ul class="header-sub-menu">
                            <li>할리스콘</li>
                            <li>할리스 기프트카드</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
</header>