<header>
    <div class="header-logo">
        <img src="./img/hansatelier.png">
    </div>
    <ul class="header-main-menu">
        <li class="header-menu-login">
        <a class="login" href="http://xn--9t4b955a.com/default/member/login.php?topmenu=m&left=1">로그인</a></li>
        <li class="header-menu-join">
        <a class="join" href="http://xn--9t4b955a.com/default/member/join.php?topmenu=m&left=2">회원가입</a></li>
        <li class="header-menu-whole header-menu-ATELIER">ATELIER</li>
        <li class="header-menu-whole header-menu-CLASS">CLASS</li>
        <li class="header-menu-whole header-menu-PORTFOLIO">PORTFOLIO</li>
        <li class="header-menu-whole header-menu-QA">QA</li>
        <li class="header-menu-whole header-menu-notice">공지사항</li>
    </ul>
    <div>
        <i class="header-main-icon fa fa-clock-o header-main-guide"></i>
        <ul class="header-main-sub-contents">
            <li class="header-main-guide">Business Hours</li>
            <li class="header-main-info">Open Pm12:00~Pm22:00</li>
            <li class="header-main-info">일요일 Closed</li>
        </ul>
    </div>
    <div class="main-sub-info">
        <i class="header-main-icon fa fa-volume-control-phone header-main-guide"></i>
        <ul class="header-main-sub-contents">
            <li class="header-main-guide">Customer Center</li>
            <li class="header-main-info">Kakaotalk: padi351979</li>
            <li class="header-main-info">Tel: 010.9984.8777</li>
            <li class="header-main-info">E-mail: sinjo12@naver.com</li>
        </ul>
    </div>
    <div>
        <i class="header-main-icon fa fa-usd header-main-guide"></i>
        <ul class="header-main-sub-contents">
            <li class="header-main-guide">Receipts Account</li>
            <li class="header-main-info">하나은행</li>
            <li class="header-main-info">278-910708-98807</li>
            <li class="header-main-info">예금주: 유봉기</li>
        </ul>
    </div>
    <div class="header-btn-member">
        <span></span>
    </div>
</header>