<header>
    <div class="header-logo">
        <img src="./img/hansatelier.png">
    </div>
    <ul class="header-main-menu">
        <li class="header-menu-login">
        <a class="login" href="http://xn--9t4b955a.com/default/member/login.php?topmenu=m&left=1">로그인</a></li>
        <li class="header-menu-join">회원가입</li>
        <li class="header-menu-whole header-menu-ATELIER">ATELIER</li>
        <li class="header-menu-whole header-menu-CLASS">CLASS</li>
        <li class="header-menu-whole header-menu-PORTFOLIO">PORTFOLIO</li>
        <li class="header-menu-whole header-menu-QA">QA</li>
        <li class="header-menu-whole header-menu-notice">공지사항</li>
    </ul>
    <div>
        <i class="header-main-icon fa fa-clock-o"></i>
        <ul class="header-main-subcontents">
            <li class="header-main-info header-main-guide">Business Hours</li>
            <li class="header-main-centermemo header-main-info header-main-menu">Open Pm12:00~Pm22:00</li>
            <li class="header-main-centermemo header-main-info">일요일 Closed</li>
        </ul>
    </div>
    <div class="header-btn-member">
        <span></span>
    </div>
</header>