@font-color: #333;
@main-font-color: #998D81;
@main-background-color: #2b2724;

header {
  position: absolute;
  width: 1543px;
  height: 142px;
  min-width: 940px;
  text-align: center;
}

.header-logo {
  margin: 0 auto 0;
  width: 271px;
  padding: 45px 0px 0px 20px;

}

.header-sub {
  width: 940px;
  margin: 0 auto;

}


.header-util {
  display: inline-block;
}



.header-quickBanner {
  overflow: hidden;
  position: absolute;
  top: 17px;
  left: 330px;

}

.header-util {
  overflow: hidden;
  position: absolute;
  top: 17px;
  right: 300px;
  font-size: 20px;
}


.header-main-menu > li {
  float: left;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 60px;
  font-size: 18px;
  font-family: 나눔고딕;
  font-weight: bold;
  /*font-weight: bolder;
  border-bottom: solid 5px #b5121b;*/
}

/*.header-main-menu > span {
  margin: 1px 0px 0px 0px;
  font-size: 11px;
}*/


body {

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}





footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 940px;
  height: 135px;
  font-size: 11px;
  padding: 33px 0px 0px 303px;
  background: url("../img/bg_footer.gif")
}

.footer-content {
  font-family: 나눔고딕;
  margin: 0px 0px 15px 0px;
  color: #faeff0;
}

.footer-contents {
  font-family: 나눔고딕;
  color: #de898e;
}


