@font-color: #333;
@main-font-color: #998D81;
@main-background-color: #2b2724;


@header-height: 32px;
header {
  //position: absolute;
  width: 1600px;
  height: 150px;
  //min-width: 940px;
  text-align: center;
  border-bottom: solid 2px #b5121b;

}

.header-logo {
  margin: 0 auto 0;
  width: 280px;
  padding: 45px 0px 0px 0px;
}

.header-sub {
  width: 980px;
  margin: 0 auto;
  cursor: pointer;
}

.header-util {
  display: inline-block;
  cursor: pointer;
}

.header-quickBanner {
  overflow: hidden;
  position: absolute;
  top: 17px;
  left: 320px;
}

.header-util {
  overflow: hidden;
  position: absolute;
  top: 17px;
  right: 340px;
  font-size: 20px;
  cursor: pointer;
}
.header-main-menu {
  display: inline-block;
  padding-left: 10px;
  //vert-align: top;
}

.hc-main-visual-slide {
  top: 150px;
}
.ht-main-banner {
  background-position: 50% 50%;
  background-size: cover;
  //width: 120%;
}

.header-main-menu:hover {    //마우스 올렸을 때
  .header-menu-text2 {
    display: block;
    //background: img('./img/header-menu.jpg');
  }
}

.header-menu-text {
position: relative;
cursor: pointer;
display: inline-block;
font-size: 18px;
font-weight: bold;
padding: 17px 60px 40px 5px;
}

.header-menu-text:hover { //이게 메뉴 보이는 거
  color: #b91c22;
  font-weight: bold;
}

.header-main-menu:hover {
  background-image: url(../img/header-menu.jpg);
}


.header-menu-text2 {
  position: absolute;
  display: none;
  color: #999;
  font-size: 12px;
  padding-bottom: 25px;
  font-family: 나눔고딕;
}

.header-menu > li:hover {
  cursor: pointer;
}

.header-sub-menu {
  position: absolute;
  top: 100%;
  cursor: pointer;
  width: 920px;
  height: 30px;
  color: #808080;
  font-size: 13px;
  text-align: left;
  font-family: 나눔고딕;
}

.header-sub-menu > li:hover {
  color: #fff;
}

.header-sub-menu:hover {
  color: rgba(0, 0, 0, 0.58);
  color: #808080;
}


body {
  width: 1583px;
  //min-width: 1000px;
  //min-height: 100%;
}

.hc-section-main-list {
  display: inline-block;
}

.ht-list-center-comment {
  display: inline-block;
}



ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  background-image: url(../img/bg_footer.gif);
  //clear: both;
  width: 100%;
  //min-width: 940px;
  height: 135px;
  font-size: 11px;
  padding: 33px 0px 0px 303px;
  //box-sizing: border-box;
}

.footer-content {
  font-family: 나눔고딕;
  padding: 0px 0px 15px 0px;
  color: #faeff0;
}

.footer-contents {
  font-family: 나눔고딕;
  color: #de898e;
}


