@import 'common.less';

.hc-section-main {
  position: relative;
  background-image: url(../img/mainBanner_1.jpg);
  background-size: cover;
  top: 180px;
  height: 480px;
  width: 1920px;
  height: 500px;
  background-position: 50% 50%;

}
