@import 'common.less';

.hc-section-main {
  position: relative;
  //background-image: url(../img/mainBanner_1.jpg);
  background-size: cover;
  top: 149px;
  width: 1600px;
  height: 500px;
  background-position: 50% 50%;
  z-index: -100;

}
