<li class="header-menu-text">
    {{name}}
    <div class="header-menu-text2">
        {{text}}
    </div>
    <ul class="header-sub-menu2">
    {{#each subMenus}}
        <li newmenu-id="{{id}}">{{menu}}</li>
    {{/each}}
    </ul>
</li>



