<li class="header-menu-text">
    {{text}}
    <div class="header-menu-text2">
        {{text2}}
    </div>
    <ul class="header-sub-menu">
    {{#each subMenus}}
        <li>{{menu}}</li>
    {{/each}}
    </ul>
</li>
