<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header}}

<section class="contents">
    <div class="dark-layer">
        <ul class="main-page-img">
            <li>
                <img src="./img/leather.jpg" class="main-img-first">
            </li>
            <i class="fa fa-circle"></i>
        </ul>
    </div>
</section>

</div>
{{> template/footer}}
</body>
</html>