<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
    <link href="/favicon.ico" rel="shortcut icon">
</head>
<body>
    {{> template/header}}
    <section class="hc-section-main">
        <img src='.img/mainBanner_1.jpg' class="hc-main-visual-slide">
    </section>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
    {{> template/footer}}
</body>
</html>