<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header}}

<section class="contents">
    <div class="dark-layer">
        <ul class="main-page-img">
            <li>
                <img src="./img/leather.jpg" class="main-img-first">
            </li>
        </ul>
        <div class="body-main-photo-second">
            <ul class="body-main-photo-left">
                <li class="main-img-second">
                    <img src="./img/mb1_img1.jpg">
                    <img src="./img/mb1_img2.jpg">
                    <img src="./img/mb1_img3.jpg">
                    <img src="./img/mb1_img4.jpg">
                </li>
            </ul>
            <ul class="body-main-photo-right">
                <li class="body-main-message">
                    당신의 아이디어를 디자인하다
                </li>
                <li class="body-main-sub-message">HANS ATELIER 는 고객성공을 위해 끊임없이 노력하는 기업입니다.<br>
                    HANS ATELIER 는 끊임없는 연구와 노력으로 다양한 커뮤니케이션
                    접근방법을 통해 새롭고 창의적인 디자인,차별화<br>
                    된 노하우를 제공함으로써 브랜드의 가치를 극대화하고 있으며 이를 통한 고객만족을 최우선으로 생각합니다.</li>
                <li class="body-main-button">공방소개</li>
                <li class="body-main-sub-button">공방약도</li>
            </ul>
        </div>
        <i class="fa fa-circle"></i>
    </div>
</section>
<section class="body-main-contents">
</section>

</div>
{{> template/footer}}
</body>
</html>