<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
    <!--<link href="/favicon.ico" rel="shortcut icon">-->
</head>
<body>
    {{> template/header}}
    <section class="hc-section-mainBanner">
        <div class="hc-main-visual-slide">
            <img class="ht-main-banner" src='./img/mainBanner_1.jpg'>
            <!--<img src='./img/mainBanner_2.png'>
            <img src='./img/mainBanner_3.jpg'>
            <img src='./img/mainBanner_4.jpg'>-->
        </div>
    </section>
    <section class="hc-section-main">
        <div class="hc-section-main-list">
            <div class="ht-main-list">
                <div class="hc-list-left"></div>
                <img src='./img/main_menu_01.jpg'>
                <div><img src='./img/main_menu_img01.jpg'></div>
            </div>
            <div class="ht-list-center">
                <ul>
                    <li>
                        <div><img src='./img/main_menu_02.jpg'></div>
                        <div>할리스커피 기프트카드 및 할리스콘 구입</div>
                            <div class="ht-list-center-img">
                                <img src='./img/main_menu_img02.jpg'>
                                <li class="ht-list-center-comment">Coffee</li>
                                <img src='./img/main_menu_img03.jpg'>
                                <li class="ht-list-center-comment">Beverage</li>
                                <img src='./img/main_menu_img04.jpg'>
                                <li class="ht-list-center-comment">Bakery</li>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>
    <section></section>
    <section></section>
    {{> template/footer}}
</body>
</html>