<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
    <!--<link href="/favicon.ico" rel="shortcut icon">-->
</head>
<body>
{{> template/header}}
<section class="hc-section-mainBanner">
    <div class="hc-main-visual-slide">
        <img class="ht-main-banner" src='./img/mainBanner_1.jpg'>
        <!--<img src='./img/mainBanner_2.png'>
        <img src='./img/mainBanner_3.jpg'>
        <img src='./img/mainBanner_4.jpg'>-->
    </div>
</section>
<section class="hc-section-main">
    <div class="ht-contents-wr" id="contentsWr">
        <div class="hc-section-main-list">
            <div class="contents po_designMain" id="contents">
                <div class="contents po_design main" id="contents">
                    <div class="wr_mainList">
                        <div class="list_left">
                            <img src='./img/main_menu_01.jpg'>
                            <img src="./img/main_menu_img01.jpg">
                        </div>
                        <div class="list_center">
                            <p><img src='./img/main_menu_02.jpg'></p>
                            <span class="list-center-memo">할리스커피 기프트카드 및 할리스콘 구입</span>
                            <ul>
                                <li class="arrow"></li>
                                <li class="img_wr">
                                    <img src='./img/main_menu_img02.jpg'>
                                </li>
                                <li>
                                <li class="list-center-word"><!--Coffee--></li>
                                <li class="img_wr">
                                    <img src='./img/main_menu_img03.jpg'>
                                </li>
                                <li><!--Beverage--></li>

                                <li class="bar_none">
                                    <img src='./img/main_menu_img04.jpg'>
                                <li class="img_wr"></li>
                                <li><!--Bakery--></li>

                                <li class="arrow"></li>
                                </li>
                            </ul>
                        </div>
                        <div class="list_right">
                            <p><img src='./img/main_menu_03.jpg'></p>
                            <img src='./img/main_menu_img05.jpg'>
                        </div>
                    </div>
                </div>
                <div class="wr_mainList02">
                    <div class="list_left2">
                        <a>
                            <img src='./img/mainBanner_left.jpg'>
                        </a>
                    </div>
                    <div class="list_center2">
                        <div class="event_img">
                            <a href="http://www.hollys.co.kr/giftCard/card.do">
                                <img src='./img/mainBanner_center.jpg'>
                            </a>
                        </div>
                    </div>
                    <div class="list-right2">
                        <a>
                            <img src='./img/mainBanner_right.jpg'>
                        </a>
                    </div>
                </div>
                <div class="wr_mainList03">
                    <ul onclick="javascript:document.location.href='/academy/curriculum/information.do';"
                        style="cursor:pointer">
                        <li>
                            <img src='./img/Menu1.jpg'>
                        </li>
                        <li>할리스커피 아카데미와 함께하는 즐거운 커피 여행!</li>
                        <li><img src='./img/Menu7.gif'>바로가기</li>
                    </ul>
                    <ul onclick="javascript:document.location.href='/hollysIs/recruit/recruit.do';"
                        style="cursor:pointer">
                        <li>
                            <img src='./img/Menu2.jpg'>
                        </li>
                        <li>할리스커피에서 커피를 이해하고,
                            문화를 만들어 갈 인재를 초대합니다.</li>
                        <li><img src='./img/Menu7.gif'>바로가기</li>
                    </ul>
                    <ul class="news-list">
                        <li class="tit01">
                            <a href="/news/notice/list.do">
                                <img src='./img/Menu3.jpg'>
                                <img src='./img/Menu7.gif'>
                            </a>
                        </li>
                        <li class="menu-list-news">
                                <span class="main-list03">
                                  <nobr>제 12기 주식회사 할리스에프앤비 결산공고</nobr>
                                </span>
                            <span>03-30</span>
                        </li>
                        <li class="menu-list-news">
                                <span class="main-list04">
                                      <nobr>무상감자진행 공고</nobr>
                                    </span>
                            <span>04-04</span>
                        </li>
                        <li class="menu-list-news">
                                <span class="main-list05">
                                      <nobr>시스템 점검 안내</nobr>
                                    </span>
                            <span>06-02</span>
                        </li>
                    </ul>
                    <ul class="list_etc">
                        <li>
                            <span class="img_wr">
                                <img src='./img/Menu4.jpg'>
                            </span>
                            <div>가맹문의</div>
                        </li>
                        <li>
                            <span class="img_wr">
                                <img src='./img/Menu5.jpg'>
                            </span>
                            <div>아카데미강좌</div>
                        </li>
                        <li>
                            <span class="img_wr">
                                <img src='./img/Menu6.jpg'>
                            </span>
                            <div>고객문의</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>
<section></section>
<section></section>
{{> template/footer}}
</body>
</html>