<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
    <!--<link href="/favicon.ico" rel="shortcut icon">-->
</head>
<body>
    {{> template/header}}
    <section class="hc-section-main">
        <div class="hc-main-visual-slide">
            <img class="ht-main-banner" src='./img/mainBanner_1.jpg'>
            <!--<img src='./img/mainBanner_2.png'>
            <img src='./img/mainBanner_3.jpg'>
            <img src='./img/mainBanner_4.jpg'>-->
        </div>
    </section>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
    {{> template/footer}}
</body>
</html>