<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HOLLYS Coffee</title>
</head>
<body>
{{> template/header }}
<div>
    <div class="contents_wr" id="contentsWr">
        <div class="left-menu">
            <ul class="left-menu-list">
                <li class="left-menu-menu">
                    <img src='img/newmenu/lnb_menu01.jpg'>
                    <img src='img/newmenu/lnb_menu02.jpg'>
                    <img src='img/newmenu/lnb_menu03.jpg'>
                    <img src='img/newmenu/lnb_menu04.jpg'>
                    <img src='img/newmenu/lnb_menu05.jpg'>
                    <img src='img/newmenu/lnb_menu06.jpg'>
                    <img src='img/newmenu/lnb_menu07.jpg'>
                </li>
                <li class="left-menu-festival">
                    <img src='img/newmenu/img_banner01.jpg'>
                    <img src='img/newmenu/img_banner02.jpg'>
                    <img src='img/newmenu/bg_banner01.jpg'>
                </li>
                <li class="left-menu-membership">
                    <img src='img/newmenu/img_banner03.jpg'>
                    <img src='img/newmenu/img_banner04.jpg'>
                    <img src='img/newmenu/bg_banner02.jpg'>
                </li>
            </ul>
        </div>
        <div class="newmenu-contents">
            <div class="hc-member-info">
                <div class="hc-member-form">
                    <div>
                        Home > 회원가입
                    </div>
                    <h2 class="newmenu-head-title">
                        회원가입
                    </h2>
                    <img src='img/member-join01.jpg'>
                    <div>
                        할리스 커피의 회원이 되시면 온라인을 통해 할리스커피의 제품을<br>
                        구매하실 수 있으며 그 외에도 다양한 회원혜택을 누리실 수 있습니다.
                    </div>
                    <div class="hc-member-form-group">
                        <h4>본인인증</h4>
                        <div>
                            본인인증을 통한 가입을 원하시면 본인인증 버튼을 눌러 할리스커피 회원가입을 진행해 주세요.
                        </div>
                        <div>
                            본인인증 또는 아이핀(I-Pin)을 통해 본인 확인을 하실 수 있습니다.<br>
                            본인인증이란?<br>
                            인증수단(휴대폰)을 통하여 본인이 맞는지 확인하는 서비스 입니다.
                        </div>
                    </div>
                    <div>
                        <button>본인인증</button>
                    </div>
                    <div class="hc-member-form-group">
                        <h4>아이핀(I-pin)인증</h4>
                        <div>
                            본인인증 또는 아이핀(I-Pin)을 통해 본인 확인을 하실 수 있습니다.
                        </div>
                        <div>
                            아이핀이란?<br>
                            아이핀이란 주민등록번호 대체수단으로 인터넷 사이트에 주민번호를 입력하지 않고도 가입할수 있도록 지원합니다.<br>
                            아이핀 인증으로 가입시 인증기관을 통해 실명인증을 받게 되므로 할리스커피에는 회원님의 주민등록번호가 저장되지 않습니다.
                        </div>
                    </div>
                    <div>
                        <button>아이핀(I-pin)인증</button>
                    </div>
                    <div class="hc-sign-up">
                        <h4>회원가입 하기</h4>
                        <div id="hc-id" class="hc-member-form-group">
                            아이디 입력
                            <i class="fa fa-fw fa-envelope-o"></i>
                            <input type="id" placeholder="이메일 주소">
                        </div>
                        <div class="hc-member-form-group">
                            비밀번호 입력
                            <i class="fa fa-fw fa-lock"></i>
                            <input type="password" placeholder="비밀번호">
                        </div>
                        <div class="hc-member-form-group">
                            <button class="hc-member-btn">로그인</button>
                        </div>
                        <div class="hc-member-note">
                            <span class="hc-highlight">HOLLYS Coffee</span>만의 다양한 혜택을 받으시려면?
                            <span class="hc-member-toggle hc-link">회원가입</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> template/footer }}
</div>
</body>
</html>