{{name}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header }}
<div>
    <div class="contents_wr" id="contentsWr">
        <div class="left-menu">
            <ul class="left-menu-list">
                <li class="left-menu-menu">
                    <!--<a href="http://www.hollys.co.kr/menu/newMenu.do">-->
                    <img src='img/newmenu/lnb_menu01.jpg'>
                    <!--</a>-->
                    <!--<a href="http://www.hollys.co.kr/menu/espresso.do">-->
                    <img src='img/newmenu/lnb_menu02.jpg'>
                    <!--</a>-->
                    <img src='img/newmenu/lnb_menu03.jpg'>
                    <img src='img/newmenu/lnb_menu04.jpg'>
                    <img src='img/newmenu/lnb_menu05.jpg'>
                    <img src='img/newmenu/lnb_menu06.jpg'>
                    <img src='img/newmenu/lnb_menu07.jpg'>
                </li>
                <li class="left-menu-festival">
                    <img src='img/newmenu/img_banner01.jpg'>
                    <img src='img/newmenu/img_banner02.jpg'>
                    <img src='img/newmenu/bg_banner01.jpg'>
                </li>
                <li class="left-menu-membership">
                    <img src='img/newmenu/img_banner03.jpg'>
                    <img src='img/newmenu/img_banner04.jpg'>
                    <img src='img/newmenu/bg_banner02.jpg'>
                </li>
            </ul>
        </div>
        <div class="newmenu-contents">
            <div class="newmenu-location">
                Home > Membership > 멤버십 혜택안내
            </div>
            <h2 class="newmenu-head-title">
                멤버십 혜택안내
            </h2>
            <div class="hc-membership-benefit">
                <div class="membership-info">
                    <ul class="hc-membership">
                        <li class="hc-membership-info">
                            <img src='img/membership/member01.jpg'>
                            <div class="hc-membership-info">
                                5% 상시적립
                            </div>
                            <div class="hc-membership-contents">
                                결제 금액의 5% 상시 적립 및<br>
                                결제 시 현금처럼 사용 가능
                            </div>
                        </li>
                    </ul>
                    <ul class="hc-membership">
                        <li class="hc-membership-info">
                            <img src='img/membership/member02.jpg'>
                            <div class="hc-membership-info">
                                사이즈 업 또는 샷, 시럽 추가
                            </div>
                            <div class="hc-membership-contents">
                                커피음료 무료 사이즈업 OR 샷추가 OR 시럽<br>
                                추가 중 택 1(본인에 한해 1일 1회 1잔에 한함)
                            </div>
                        </li>
                    </ul>
                    <ul class="hc-membership">
                        <li class="hc-membership-info">
                            <img src='img/membership/member03.jpg'>
                            <div class="hc-membership-info">
                                할리스콘 구입
                            </div>
                            <div class="hc-membership-contents">
                                할리스커피 APP, 홈페이지(PC, Mobile)을 통해<br>
                                멤버십 포인트로 할리스콘 구입<br>
                                (단, 휴게소점, 리조트점 제외)
                            </div>
                        </li>
                    </ul>
                    <ul class="hc-membership">
                        <li class="hc-membership-info">
                            <img src='img/membership/member04.jpg'>
                            <div class="hc-membership-info">
                                프로모션 참여
                            </div>
                            <div class="hc-membership-contents">
                                할리스커피 멤버십 회원만을 위해 준비한 <br>
                                다양한 프로모션 및 쿠폰
                            </div>
                        </li>
                    </ul>
                    </li>
                </div>
            </div>
            <div class="hc-notice">
                <i class="fa fa-info-circle"></i>
                <div class="hc-membership-notice">유의사항</div>
                <ul class="type-dot">
                    <li>멤버십 카드는 할리스커피 매장 또는 모바일APP을 통해 발급 받으실 수 있습니다.</li>
                    <li>할리스커피 홈페이지(PC, 모바일 페이지) 및 모바일APP을 통해 회원가입과 카드 등록 후 포인트를 사용하실 수 있습니다.</li>
                    <li>포인트는 가용 포인트가 500포인트 이상 시 10포인트 단위로 현금처럼 사용 가능합니다.</li>
                    <li>HOLLYS Mall을 통해 가용 포인트를 할리스콘을 교환하여 사용하실 수 있습니다.</li>
                    <li>멤버십 포인트는 현금으로 교환되지 않으며, 할리스커피 매장에서 메뉴 구매 시 또는 HOLLYS Mall에서 사용하실 수 있습니다.</li>
                    <li>멤버십 포인트는 적립일로부터 1년이 경과되면 자동 소멸됩니다.</li>
                </ul>
            </div>
        </div>
    </div>
    {{> template/footer }}
</div>
</body>
</html>