<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HOLLYS Coffee</title>
</head>
<body>
{{> template/header }}
<div>
    <div class="contents_wr" id="contentsWr">
        <div class="left-menu">
            <ul class="left-menu-list">
                <li class="left-menu-menu">
                    <img src='img/newmenu/lnb_menu01.jpg'>
                    <img src='img/newmenu/lnb_menu02.jpg'>
                    <img src='img/newmenu/lnb_menu03.jpg'>
                    <img src='img/newmenu/lnb_menu04.jpg'>
                    <img src='img/newmenu/lnb_menu05.jpg'>
                    <img src='img/newmenu/lnb_menu06.jpg'>
                    <img src='img/newmenu/lnb_menu07.jpg'>
                </li>
                <li class="left-menu-festival">
                    <img src='img/newmenu/img_banner01.jpg'>
                    <img src='img/newmenu/img_banner02.jpg'>
                    <img src='img/newmenu/bg_banner01.jpg'>
                </li>
                <li class="left-menu-membership">
                    <img src='img/newmenu/img_banner03.jpg'>
                    <img src='img/newmenu/img_banner04.jpg'>
                    <img src='img/newmenu/bg_banner02.jpg'>
                </li>
            </ul>
        </div>
        <div class="newmenu-contents">
            <div class="hc-sign-in">
                <div class="hc-member-form">
                    <div>
                        Home > 로그인
                    </div>
                    <h2 class="newmenu-head-title">
                        로그인
                    </h2>
                    <div>WELCOME</div>
                    <div>
                        할리스 커피에 오신것을 환영합니다.<br>
                        고객님께서 설정하신 아이디와 비밀번호를 입력해주세요.
                    </div>
                    <div class="hc-member-form-group">
                        아이디
                        <i class="fa fa-fw fa-envelope-o"></i>
                        <input type="id" placeholder="이메일 주소">
                    </div>
                    <div class="hc-member-form-group">
                        비밀번호
                        <i class="fa fa-fw fa-lock"></i>
                        <input type="password" placeholder="비밀번호">
                    </div>
                    <div class="hc-member-form-group checkbox">
                        <label>
                            <input type="checkbox">
                            자동로그인
                        </label>
                        <div class="hc-link">
                            비밀번호를 잊어버리셨나요?
                        </div>
                    </div>
                    <div class="hc-member-form-group">
                        <button class="hc-member-btn">로그인</button>
                    </div>
                    <div class="hc-member-note">
                        <span class="hc-highlight">HOLLYS Coffee</span>만의 다양한 혜택을 받으시려면?
                        <span class="hc-member-toggle hc-link">회원가입</span>
                    </div>

                </div>
                <div class="hc-member-text">
                    <ul class="hc-member-layer-text">
                        <img src='img/member01.JPG'>
                        <li>
                            아이디를 잊어버리셨나요?
                        </li>
                        <li>
                            고객님의 아이디를 찾아드립니다.
                        </li>
                        <button>아이디 찾기</button>
                    </ul>
                    <ul class="hc-member-layer-text2">
                        <img src='img/member02.JPG'>
                        <li>
                            비밀번호를 잊어버리셨나요?
                        </li>
                        <li>
                            고객님의 비밀번호를 찾아드립니다.
                        </li>
                        <button>비밀번호 찾기</button>
                    </ul>
                    <ul class="hc-member-layer-text3">
                        <img src='img/member03.JPG'>
                        <li>
                            할리스커피의 회원이 아니신가요?
                        </li>
                        <li>
                            회원가입하시고 다양한 혜택을 누리세요.
                        </li>
                        <button class="hc-link">회원가입</button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{> template/footer }}
</div>
</body>
</html>