<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HOLLYS Coffee</title>
</head>
<body>
{{> template/header }}
<div>
    <div class="contents_wr" id="contentsWr">
        <div class="left-menu">
            <ul class="left-menu-list">
                <li class="left-menu-menu">
                    <img src='img/newmenu/lnb_menu01.jpg'>
                    <img src='img/newmenu/lnb_menu02.jpg'>
                    <img src='img/newmenu/lnb_menu03.jpg'>
                    <img src='img/newmenu/lnb_menu04.jpg'>
                    <img src='img/newmenu/lnb_menu05.jpg'>
                    <img src='img/newmenu/lnb_menu06.jpg'>
                    <img src='img/newmenu/lnb_menu07.jpg'>
                </li>
                <li class="left-menu-festival">
                    <img src='img/newmenu/img_banner01.jpg'>
                    <img src='img/newmenu/img_banner02.jpg'>
                    <img src='img/newmenu/bg_banner01.jpg'>
                </li>
                <li class="left-menu-membership">
                    <img src='img/newmenu/img_banner03.jpg'>
                    <img src='img/newmenu/img_banner04.jpg'>
                    <img src='img/newmenu/bg_banner02.jpg'>
                </li>
            </ul>
        </div>
        <div class="newmenu-contents">
            <div class="hc-member-info">
                <div class="hc-member-form">
                    <div>
                        Home > 회원가입
                    </div>
                    <h2 class="newmenu-head-title">
                        회원가입
                    </h2>

                    <div class="hc-sign-up">
                        <h4>회원가입 하기</h4>
                        <div id="hc-id" class="hc-member-form-group">
                            아이디 입력
                            <i class="fa fa-fw fa-envelope-o"></i>
                            <input type="id" placeholder="이메일 주소">
                        </div>
                        <div class="hc-member-form-group">
                            비밀번호 입력
                            <i class="fa fa-fw fa-lock"></i>
                            <input type="password" placeholder="비밀번호">
                        </div>
                        <div class="hc-member-form-group">
                            <button class="hc-member-btn">로그인</button>
                        </div>
                        <div class="hc-member-note">
                            <span class="hc-highlight">HOLLYS Coffee</span>만의 다양한 혜택을 받으시려면?
                            <span class="hc-member-toggle hc-link">회원가입</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hc-member-layer">                                   <!--로그인 창 만들기-->
                <div class="hc-member-info">                                <!--위에 부분-->
                    {{#if signedIn}}
                        <div class="hc-signed-in">
                            {{#if avatar}}
                                <div class="hc-member-icon" style="background-image: url({{avatar}})"></div>
                            {{else}}
                                <div class="hc-member-icon">
                                    <i class="fa fa-user"></i>
                                </div>
                            {{/if}}
                            <div class="hc-member-email">
                                {{email}}
                            </div>
                        </div>
                    {{else}}
                        <div class="hc-sign-in">
                            <div class="hc-member-form">
                                <div class="hc-member-logo">
                                    <div>HT</div>
                                </div>
                                <div class="hc-member-form-group">
                                    <input id="hc-sign-in-email" type="email" placeholder="이메일주소">
                                    <i class="fa fa-fw fa-envelope-o"></i>                                      <!--position을 absolute으로 바꿔서 이메일주소 인풋안으로 넣기-->
                                </div>
                                <div class="hc-member-form-group">
                                    <input id="hc-sign-in-password" type="password" placeholder="비밀번호">
                                    <i class="fa fa-fw fa-lock"></i>
                                </div>
                                <div class="hc-member-form-group checkbox">                                     <!--bootstrap checkbox-->
                                    <label>
                                        <input id="hc-sign-in-remember" type="checkbox">
                                        자동로그인
                                    </label>
                                    <div class="hc-link">
                                        비밀번호를 잊어버리셨나요?
                                    </div>
                                </div>
                                <div class="hc-member-form-group">
                                    <button id="hc-sign-in" class="hc-member-btn">로그인</button>
                                </div>
                                <div class="hc-member-text-sm">
                                    or
                                </div>
                                <ul class="hc-member-sns">
                                    <li><i class="fa fa-facebook"></i></li>
                                    <li><i class="fa fa-google-plus"></i></li>
                                </ul>
                            </div>
                            <div class="hc-member-text">
                                <span class="hc-highlight">THERE</span>만의 다양한 혜택을 받으시려면?
                                <span class="hc-member-toggle hc-link">무료회원가입</span>
                            </div>
                        </div>
                        <div class="hc-sign-up">                                    <!--회원 관리 창-->
                            <div class="hc-member-form">
                                <div class="hc-member-logo">
                                    <div>HT</div>
                                </div>
                                <div class="hc-member-form-group">
                                    <input id="hc-sign-up-email" type="email" placeholder="이메일주소">
                                    <i class="fa fa-fw fa-envelope-o"></i>                                                  <!--position을 absolute으로 바꿔서 이메일주소 인풋안으로 넣기-->
                                </div>
                                <div class="hc-member-form-group">
                                    <input id="hc-sign-up-password" type="password" placeholder="비밀번호">
                                    <i class="fa fa-fw fa-lock"></i>
                                </div>
                                <div class="hc-member-form-group checkbox">                             <!--bootstrap checkbox-->
                                    <label>
                                        <input id="hc-sign-up-agree" type="checkbox">                                   <!--checked 해주면 기본으로 체크가 되어 있다.-->
                                        약관동의
                                    </label>
                                    <div class="hc-link">
                                        약관보기
                                    </div>
                                </div>
                                <div class="hc-member-form-group">
                                    <button id="hc-sign-up" class="hc-member-btn">가입</button>
                                </div>
                                <div class="hc-member-text-sm">
                                    or
                                </div>
                                <ul class="hc-member-sns">
                                    <li><i class="fa fa-facebook"></i></li>
                                    <li><i class="fa fa-google-plus"></i></li>
                                </ul>
                            </div>
                            <div class="hc-member-text">
                                이미 <span class="hc-highlight">THERE</span>의 회원이신가요?
                                <span class="hc-member-toggle hc-link">로그인</span>
                            </div>
                        </div>
                    {{/if}}
                </div>
                <div class="hc-right-menu">
                    <ul class="hc-right-menu-list">
                        {{#if signedIn}}                                    <!--항상 보이면 안되니까 signdeIn 이 true 일때만 보여준다-->
                            <li id="hc-setting">My Page</li>
                        {{/if}}
                        <li>HOLLYS COFFEE</li>
                        <li>FAQ</li>
                        <li>MD 상품</li>
                        {{#if signedIn}}
                            <li id="hc-sign-out">Log Out</li>
                        {{/if}}
                    </ul>
                </div>
            </div>

        </div>
    </div>
    {{> template/footer }}
</div>
</body>
</html>