<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header}}
<div class="contents_wr" id="contentsWr">
    <div class="left-menu">
        <ul class="left-menu-list">
            <li class="left-menu-menu">
                <!--<a href="http://www.hollys.co.kr/menu/newMenu.do">-->
                    <img src='img/newmenu/lnb_menu01.jpg'>
                <!--</a>-->
                <!--<a href="http://www.hollys.co.kr/menu/espresso.do">-->
                    <img src='img/newmenu/lnb_menu02.jpg'>
                <!--</a>-->

                <img src='img/newmenu/lnb_menu03.jpg'>
                <img src='img/newmenu/lnb_menu04.jpg'>
                <img src='img/newmenu/lnb_menu05.jpg'>
                <img src='img/newmenu/lnb_menu06.jpg'>
                <img src='img/newmenu/lnb_menu07.jpg'>
            </li>
            <li class="left-menu-festival">
                <img src='img/newmenu/img_banner01.jpg'>
                <img src='img/newmenu/img_banner02.jpg'>
                <img src='img/newmenu/bg_banner01.jpg'>
            </li>
            <li class="left-menu-membership">
                <img src='img/newmenu/img_banner03.jpg'>
                <img src='img/newmenu/img_banner04.jpg'>
                <img src='img/newmenu/bg_banner02.jpg'>
            </li>
        </ul>
    </div>
    <div class="newmenu-contents">
        <div class="newmenu-location">
            Home > Menu > New Menu
        </div>
        <h2 class="newmenu-head-title">
            NEW MENU
        </h2>
        <div class="hc-section-info">
            <div class="hc-section-contents">
                <div class="hc-tab">
                    <ul class="hc-tab-btns hc-season-y">
                        <li class="active season-foods beverage">2017</li>
                        <li class="beverage">2016</li>
                        <li class="beverage">2015</li>
                        <li class="beverage">2014</li>
                        <li class="beverage">2013</li>
                        <li class="beverage">2012</li>
                        <li class="beverage">2011</li>
                        <li class="beverage">2010~2009</li>
                        <li class="beverage">2008~</li>
                    </ul>
                    <div class="hc-tab-contents">
                        <div class="hc-season-2017">
                            <ul class="hc-season-menu">
                                <li class="active menu-season-beverage">
                                    <img src='img/menuNew_2017-01.jpg' id="season-menu">
                                    <span class="named">
                                    청포도파인 선라이즈크러쉬
                                    <br>
                                    (2017년 06월)
                                    </span>
                                </li>
                                <li class="menu-season-beverage">
                                    <img src='img/menuNew_2017-02.jpg' id="season-menu">
                                    <span class="named">
                                    Hello, summer signature
                                    <br>
                                    (2017년 04월)
                                    </span>
                                </li>
                                <li class="menu-season-beverage">
                                    <img src='img/menuNew_2017-03.jpg' id="season-menu">
                                    <span class="named">
                                    Daily Smoothie
                                    <br>
                                    (2017년 03월)
                                    </span>
                                </li>
                                <li class="menu-season-beverage">
                                    <img src='img/menuNew_2017-04.jpg' id="season-menu">
                                    <span class="named">
                                    Daily Juice
                                    <br>
                                    (2017년 03월)
                                    </span>
                                </li>
                                <li class="menu-season-beverage">
                                    <img src='img/menuNew_2017-05.jpg' id="season-menu">
                                    <span class="named">
                                    티라미스 크림라떼
                                    <br>
                                    (2017년 03월)
                                    </span>
                                </li>
                                <li class="menu-season-beverage">
                                    <img src='img/menuNew_2017-06.jpg' id="season-menu">
                                    <span class="named">
                                    핫샌드위치
                                    <br>
                                    (2017년 03월)
                                    </span>
                                </li>
                                <li class="menu-season-beverage">
                                    <img src='img/menuNew_2017-07.jpg' id="season-menu">
                                    <span class="named">
                                    딸기레몬티
                                    <br>
                                    (2017년 01월)
                                    </span>
                                </li>
                                <li class="menu-season-beverage">
                                    <img src='img/menuNew_2017-08.jpg' id="season-menu">
                                    <span class="named">
                                    딸기크림초코라떼
                                    <br>
                                    (2017년 01월)
                                    </span>
                                </li>
                                <li class="menu-season-beverage">
                                    <img src='img/menuNew_2017-09.jpg' id="season-menu">
                                    <span class="named">
                                    리얼 딸기 크림 아발랑쉬
                                    <br>
                                    (2017년 01월)
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="newMenu01" id="menuView01">
            <ul class="new-season">
                <li class="date">2017.06</li>
                <li class="cont">
                    <p class="cont-sub">청포토파인 선라이즈크러쉬</p>
                </li>
                <li class="new-img">
                    <a href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fshare.php%3Fu%3Dhttp%253A%252F%252Fwww.hollys.co.kr%252Fmenu%252FmenuShare.do%253Fdiv%253Dnew%2526idx%253D122%2526releaseYear%253D2017%26t%3D%255BHOLLYS%2BNEW%2BMENU%255D%25EC%25B2%25AD%25ED%258F%25AC%25EB%258F%2584%25ED%258C%258C%25EC%259D%25B8%2B%25EC%2584%25A0%25EB%259D%25BC%25EC%259D%25B4%25EC%25A6%2588%25ED%2581%25AC%25EB%259F%25AC%25EC%2589%25AC&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Freturn%2Fclose%3Ferror_code%3D4201%26error_message%3DUser%2Bcanceled%2Bthe%2BDialog%2Bflow%23_%3D_&display=popup&locale=ko_KR" target="_blank">
                        <img src='./img/newmenu/linked01.jpg'>
                    </a>
                    <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.hollys.co.kr%2Fmenu%2FmenuShare.do%3Fdiv%3Dnew%26idx%3D122%26releaseYear%3D2017&text=%5BHOLLYS%20NEW%20MENU%5D%EC%B2%AD%ED%8F%AC%EB%8F%84%ED%8C%8C%EC%9D%B8%20%EC%84%A0%EB%9D%BC%EC%9D%B4%EC%A6%88%ED%81%AC%EB%9F%AC%EC%89%AC&original_referer=http%3A%2F%2Fwww.hollys.co.kr%2Fmenu%2FnewMenu.do" target="_blank">
                        <img src='./img/newmenu/linked02.jpg'>
                    </a>

                </li>
            </ul>
        </div>
        <img src='./img/newmenu/menuNew01.jpg'>
    </div>
</div>

</body>
</html>